[Desktop Entry]
Name=Gcombust
Type=Application
Comment=A frontend for mkisofs/mkhybrid/cdda2wav/cdrecord/cdlabelgen
Comment[pl]=Nakładka na mkisofs/mkhybrid/cdda2wav/cdrecord/cdlabelgen
Exec=gcombust
Icon=gcombust.png
Terminal=false
Encoding=UTF-8
Categories=GTK;AudioVideo;DiscBurning;
# vi: encoding=utf-8
