[Desktop Entry]
Name=gcombust
Type=Application
Comment=A frontend for mkisofs/mkhybrid/cdda2wav/cdrecord/cdlabelgen
Comment[pl]=Frontend na mkisofs/mkhybrid/cdda2wav/cdrecord/cdlabelgen
Exec=gcombust
Terminal=0
